#contacts-section {
  width: 100%;
}

.contacts-flexbox {
  display: flex;
  flex-direction: column;
}

.our-location,
.appointment {
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  max-height: 50vh;
}

.subheader {
  margin: 0 0 0.5em;
  font-size: var(--text-regular);
  text-align: center;
}

.contacts-info {
  padding: 0;
  margin-top: 0;

  &__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: var(--text-sm);
    margin: 0.7em 0;

    & a:any-link {
      text-decoration: none;
      color: black;
    }
  }

  & img {
    height: 2em;
    margin-right: 1.5em;
  }
}

.advanced-route {
  margin: 1em 0;
  align-self: center;
  padding: 0.7em 1.5em;
  background-color: var(--color-P--dark);
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--text-sm);

  &:any-link {
    text-decoration: none;
  }

  & img {
    margin-left: 0.5em;
    height: 1em;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
      brightness(103%) contrast(103%);
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  &__curtain {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4em 0;
    background-color: var(--color-success);
    z-index: 2;
  }

  &__group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1.5em;

    &:last-of-type {
      flex-direction: row;
      align-items: center;
      margin-left: 0.5em;

      & > label {
        margin-left: 0.5em;
      }
    }
  }

  &__input,
  &__textfield {
    width: 100%;
    height: 2em;
    font-family: "montserrat";
    font-size: var(--text-regular);
    padding-left: 0.5em;
    color: transparent;
    outline-color: var(--color-P);

    &:valid,
    &:focus {
      color: var(--color-black);
    }
  }

  &__label {
    position: absolute;
    top: 0.7em;
    left: 0.6em;
    font-size: var(--text-sm);
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  &__input:focus ~ label,
  &__input:valid ~ label,
  &:focus ~ label,
  &__textfield:focus ~ label,
  &__textfield:valid ~ label,
  &:focus ~ label {
    top: -17px;
    font-size: var(--text-sm);
  }

  &__textfield {
    min-width: 100%;
    max-width: 100%;
    min-height: 2rem;
    height: 5rem;
    padding-top: 0.3rem;
  }

  &__sm-section {
    display: flex;
    flex-direction: column;
  }
}

.must-have {
  color: red;
}

.label-for-terms {
  font-size: var(--text-sm);
}

.tac-link {
  font-weight: 600;
  &:any-link {
    color: var(--color-P--dark);
  }
}

.cta-make-appointment {
  padding: 1em 2em;
  background-color: var(--color-P--dark);
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius-secondary);
}

// Tablets media query
@media (min-width: 768px) {
  .contact-form {
    &__curtain {
      padding: 4em 0;
    }
  }
}

// Laptops media query
@media (min-width: 992px) {
  .contacts-flexbox {
    flex-direction: row;
    justify-content: center;
  }

  .our-location {
    flex: 1.3;
  }

  .appointment {
    flex: 1;
    margin-left: 2em;
  }

  .contact-form {
    margin: 0;
    padding: 1.5em 1em;
  }

  .form-wrapper {
    border-radius: var(--border-radius-secondary);
    background-color: var(--color-P--tint);
    border: 1px solid var(--color-P--tint-dark);
    overflow: hidden;
  }

  .cta-make-appointment {
    font-size: var(--text-regular);
    padding: 0.5em 1em;
    transition-duration: 0.2s;

    &:hover {
      cursor: pointer;
      background-color: var(--color-P);
    }
  }

  .contacts-info__item {
    font-size: var(--text-regular);
  }

  .advanced-route {
    transition-duration: 0.2s;
    align-self: flex-start;

    &:hover {
      cursor: pointer;
      background-color: var(--color-P);
    }
  }
}

// Full Desktops media query
@media (min-width: 1400px) {
  .subheader {
    font-size: var(--text-md);
  }

  .our-location {
    flex: 1.7;
  }

  .label-for-terms {
    font-size: var(--text-regular);
  }

  .cta-make-appointment {
    padding: 0.7em 1.2em;
  }
}

@keyframes contact-form--fade-in {
  0% {
    opacity: 0;
    color: var(--color-success);
  }

  25% {
    opacity: 1;
    color: var(--color-success);
  }

  50% {
    opacity: 1;
    color: var(--color-success);
  }

  100% {
    opacity: 1;
    color: var(--color-black);
  }
}
