.section__news-article {
  width: 100%;
}

.container__news-article {
  display: flex;
  flex-direction: column;
}

.news {
  &__date {
    margin: 1em 0;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    color: var(--color-dark);
    opacity: 0.5;
  }

  &__title {
    font-size: var(--text-lg);
    margin: 1em 0;
  }

  &__main-flex {
    display: flex;
    flex-direction: column;
  }

  &__help-flex {
    flex: 1;
    display: flex;
    flex-direction: column; 
  }

  &__doctor-card {
    align-self: center;
  }
}

// Tablet media query
@media (min-width: 768px) {
  .news {
    &__date {
      margin-top: 0.3em;
    }

    &__cta {
      width: 70%;
      align-self: center;
      margin: 1em 0;
    }
  }
}

// Laptops media query
@media (min-width: 992px) {
  .news {
    &__main-flex {
      flex-direction: row;
    }
    &__doctor-card {
      width: 70%;
    }
    &__help-flex {
      &:nth-of-type(1) {
        margin-right: 1em;
      }

      &:nth-of-type(2) {
        margin-left: 1em;
      }
    }

    &__cta {
      width: 100%;
    }
  }
}

// Full Desktops media query
@media (min-width: 1400px) {
  .news {
    &__doctor-card {
      width: 80%;
    }

    &__cta-btn {
      width: auto;
      margin: 1em;
    }
  }
}
