.page__doctor {
  height: auto;
}

.section__doctor {
  margin-top: 3em;
}

.doctor {
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50vh;
    margin: 0 auto 1em;
    border-radius: var(--border-radius-secondary);
  }

  &__name {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }

  &__about {
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
  }

  &__position {
    font-size: 1em;
    font-weight: 400;
    opacity: 0.8;
  }

  &__theme {
    margin-bottom: 0.5em;

    &-section {
      margin-bottom: 2em;
    }
  }

  &__text {
    margin-bottom: 1em;
    line-height: 1.4em;
  }

  &__subsection {
    margin: 2em 0 .5em;
    font-size: .8em;
  }

  &__flex {
    display: flex;
    flex-direction: column;
  }
}

// Tablet media query
@media (min-width: 768px) {
  .section__doctor {
    margin-top: 9em;
  }

  .doctor {
    &__theme {
      margin-bottom: 0.5em;
    }

    &__text {
      margin-bottom: 1em;
      line-height: 1.6em;
    }
  }
}

// Laptops media query
@media (min-width: 992px) {
  .doctor {
    &__flex {
      flex-direction: row;
    }

    &__card {
      margin-right: 2em;
      flex: 1;
    }

    &__theme {
      font-size: var(--text-md);

      &-section {
        margin-bottom: 2.5em;
      }
    }

    &__text {
      font-size: var(--text-md);
    }

    &__subsection {
      font-size: var(--text-regular);
    }

    &__info {
    flex: 2;
    }
  }
}
