.page__doctor {
  height: auto;
}

.section__doctor {
  margin-top: 3em;
}

.doctor {
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
  }

  &__image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50vh;
    margin: 0 auto 1em;
    border-radius: var(--border-radius-secondary);
  }

  &__name {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }

  &__about {
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
  }

  &__position {
    font-size: 1em;
    font-weight: 400;
    opacity: 0.8;
  }

  &__info {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;

    & iframe {
      position: static;
      top: 0;
      left: 0;
      width: 100%;
      height: 240px;
      border-radius: 6px;
    }
  }

  &__feedback:any-link {
    width: 100%;
    border: 2px solid var(--color-P--dark);
    border-radius: var(--border-radius-secondary);
    color: var(--color-P--dark);
    font-weight: 600;
    text-decoration: none;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &:hover {
      color: var(--color-P--darkest);
      border: 2px solid var(--color-P--darkest);
    }
  }

  &__theme {
    margin-bottom: 0.5em;

    &-section {
      margin-bottom: 2em;
    }
  }

  &__text {
    margin-bottom: 1em;
    line-height: 1.4em;
  }

  &__subsection {
    margin: 2em 0 0.5em;
    font-size: 0.8em;
  }

  &__flex {
    display: flex;
    flex-direction: column;
  }
}

// Tablet media query
@media (min-width: 768px) {
  .section__doctor {
    margin-top: 9em;
  }

  .doctor {
    &__theme {
      margin-bottom: 0.5em;
    }

    &__text {
      margin-bottom: 1em;
      line-height: 1.6em;
    }

    &__info {
      & > iframe {
        width: 100%;
        height: 336px;
      }
    }
  }
}

// Laptops media query
@media (min-width: 992px) {
  .doctor {
    &__flex {
      flex-direction: row;
    }

    &__card {
      margin-right: 2em;
      flex: 1;
    }

    &__theme {
      font-size: var(--text-md);

      &-section {
        margin-bottom: 2.5em;
      }
    }

    &__text {
      font-size: var(--text-md);
    }

    &__subsection {
      font-size: var(--text-regular);
    }

    &__info {
      flex: 2;

      & > iframe {
        height: 336px;
      }
    }
  }
}

// Full Desktops media query
@media (min-width: 1400px) {
  .doctor {
    &__info {
      & iframe {
        height: 430px;
      }
    }
  }
}
