.dropdown {
  position: relative;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #444;
  font-weight: 400;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: var(--text-regular);
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  transition: all 250ms ease-in-out;
}

.button_link {
  text-decoration: none;
  color: #444;
}

.link__button,
.link.link__button {
  font-size: var(--text-sm);
  text-decoration: none;
  color: var(--color-P--dark);
  background-color: var(--color-P--tint);
  transition: 0.2s;
  padding: 1em;
  max-width: 20vw;

  &:hover {
    color: var(--color-P--darkest);
    background-color: #3bacb544;
    border-radius: 0.5em;
  }

  &___disabled {
    &:hover {
      color: var(--color-P--dark);
      background-color: var(--color-P--tint);
      cursor: default;
    }
  }
}

.dropdown__menu {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-P--tint);
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-15px);
  transition: all 150ms ease-in-out;

  &___aside {
    left: 100%;
    top: -30%;
    width: inherit;

    & > .link__button {
      width: 100%;
      margin: 0 auto;
    }
  }
}

.dropdown.active > .link,
.link:hover,
.button_link:hover {
  color: black;
}

.dropdown.active > .link + .dropdown__menu,
.link:hover + .dropdown__menu,
.dropdown__menu:hover {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(1, max-content);
  gap: 0.5em;
}

.treatment__grid {
  display: grid;
  grid-template-columns: repeat(1, max-content);
  gap: 0.5em;
  align-items: center;
}
