.footer {
  padding: 1em 0;
  background-color: var(--color-dark);
  color: var(--color-white);

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
  }

  &__mark:any-link {
    color: var(--color-gray);
    font-size: var(--text-sm);
    text-decoration: none;
    text-align: center;
    transition: 100ms ease-in;

    &:hover {
      color: var(--color-P--tint);
    }
  }

  &__hr {
    opacity: 0.1;
    width: 65%;
    margin: 1em auto;
  }
}

.social_links__container {
  display: flex;
  justify-content: center;
}
