:root {
  --border-radius-main: 10px;
  --border-radius-secondary: 5px;

  --color-P: #3bacb5;
  --color-P--tint: #dffdff;
  --color-P--tint-dark: #c9f0f3;
  --color-P--light: #5cd1da;
  --color-P--dark: #248c94;
  --color-P--darkest: #1f5558;
  --color-success: #00ff89;
  --color-black: #000;
  --color-gray: #e9e9e9;
  --color-gray--dark: #a3a3a3;
  --color-white: #fff;
  --color-dark: #323232;

  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  --text-xs: 0.4rem;
  --text-sm2: 0.6rem;
  --text-sm: 0.8rem;
  --text-regular: 1rem;
  --text-md: 1.2rem;
  --text-lg: 1.4rem;
  --text-xl: 1.9rem;
  --text-2xl: 2.5rem;
}
* {
  scroll-behavior: smooth;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0.5em 1em;
  overflow: hidden;
}

.mt {
  margin-top: 4em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1em;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.overflow {
  overflow: visible;
}

.justify-evenly {
  justify-content: space-evenly;
}

.fixed {
  overflow-y: hidden;
}

.hidden {
  display: none !important;
}

.darken {
  background-color: var(--color-dark) !important;
}

.marked-container {
  background-color: var(--color-P--tint-dark);
  padding: 1em;
  margin: 1em 0;
  line-height: 1.3em;
  text-align: start;
  border-radius: var(--border-radius-secondary);
  & > p {
    margin: 0 !important;
  }
}

.marked_container_new {
  border: 2px solid var(--color-P);
  padding: 12px 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;

  & > h3 {
    margin: 16px 0;
    text-align: center;
  }
}

.text-center {
  text-align: center !important;
}

.text-start {
  text-align: start !important;
}

.section__header {
  width: 100%;
  font-size: 1.3em;
  text-align: center;
  margin: 1.4rem 0;
}

.yandex__img {
  position: 'absolute';
  left: '-9999px';
}

.section {
  margin-top: 3em;
}

// Tablet media query
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .mt {
    margin-top: 9em;
  }
  .flex {
    flex-direction: row;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1em;
  }
  .marked-container {
    padding: 1.2em;
    line-height: 1.5em;
  }
  .marked_container_new {
    gap: 20px;
    flex-direction: row;

    h3 {
      margin: 0;
      padding: 0 40px;
      flex: 1;
    }

    div,
    p {
      flex: 4;
    }

    p {
      margin: 16px 0;
    }
  }
  .section__header {
    margin-top: 1.5rem;
    font-size: 1.5em;
  }
  .section {
    margin-top: 8em;
  }
}

// Laptops media query
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .marked-container {
    text-align: center;
  }
  .section__header {
    margin: 1.5rem 0;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1em;
  }
}

// Full Desktops media query
@media (min-width: 1400px) {
  .container {
    max-width: 1150px;
  }
  .section__header {
    font-size: 1.7rem;
    margin: 1.5rem 0;
  }
}

#curtain {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  opacity: 0;
  color: var(--color-black);
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  transition: 0.4s ease-in;

  &.curtain--opened {
    animation: curtain-drop 1s ease-in-out forwards;
  }
}

@keyframes curtain-drop {
  0% {
    height: 0;
    opacity: 0;
    color: var(--color-white);
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    height: 100vh;
    color: var(--color-white);
  }

  100% {
    opacity: 1;
    height: 500vh;
    color: var(--color-black);
    z-index: 5;
  }
}
