:root {
  --border-radius-main: 10px;
  --border-radius-secondary: 5px;

  --color-P: #3bacb5;
  --color-P--tint: #dffdff;
  --color-P--tint-dark: #c9f0f3;
  --color-P--light: #5cd1da;
  --color-P--dark: #248c94;
  --color-P--darkest: #1f5558;
  --color-success: #00ff89;
  --color-black: #000;
  --color-gray: #e9e9e9;
  --color-white: #fff;

  --color-dark: #323232;

  --text-xs: 0.4rem;
  --text-sm: 0.8rem;
  --text-regular: 1rem;
  --text-md: 1.2rem;
  --text-lg: 1.4rem;
  --text-xl: 1.9rem;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  height: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0.5em 1em;
  overflow: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.overflow {
  overflow: visible;
}

.fixed {
  overflow-y: hidden;
}

.hidden {
  display: none !important;
}

.darken {
  background-color: var(--color-dark) !important;
}

.marked-container {
  background-color: var(--color-P--tint-dark);
  padding: 1em;
  margin: 1em 0;
  line-height: 1.3em;
  text-align: start;
  border-radius: var(--border-radius-secondary);
  & > p {
    margin: 0 !important;
  }
}

.text-center {
  text-align: center !important;
}

.text-start {
  text-align: start !important;
}

.section__header {
  width: 100%;
  font-size: 1.3em;
  text-align: center;
  margin: 1.4rem 0;
}

.yandex__img {
  position: "absolute";
  left: "-9999px";
}

// Tablet media query
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .flex {
    flex-direction: row;
  }
  .marked-container {
    padding: 1.2em;
    line-height: 1.5em;
  }
  .section__header {
    margin-top: 1.5rem;
    font-size: 1.5em;
  }
}

// Laptops media query
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .marked-container {
    text-align: center;
  }
  .section__header {
    margin: 1.5rem 0;
  }
}

// Full Desktops media query
@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
  .section__header {
    font-size: 1.7rem;
    margin: 1.5rem 0;
  }
}

#curtain {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  opacity: 0;
  color: var(--color-black);
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  transition: 0.4s ease-in;

  &.curtain--opened {
    animation: curtain-drop 1s ease-in-out forwards;
  }
}

@keyframes curtain-drop {
  0% {
    height: 0;
    opacity: 0;
    color: var(--color-white);
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    height: 100vh;
    color: var(--color-white);
  }

  100% {
    opacity: 1;
    height: 500vh;
    color: var(--color-black);
    z-index: 5;
  }
}
