.section__confidential {
  width: 100%;
  margin-top: 3em;
}

.container__confidential {
  & h1 {
    font-size: var(--text-lg);
    margin-bottom: 1em;
  }

  & h2 {
    margin: 1em;
    font-size: var(--text-md);
  }

  & hr {
    margin-bottom: 1em;
  }

  & p {
    margin: 1em 0;
  }

  & ul {
    list-style-type: none;
  }

  & li {
    margin-bottom: 1em;
  }

  & p,
  & li {
    line-height: 1.4em;
  }
}

// Tablet media query
@media (min-width: 768px) {
  .section__confidential {
    margin-top: 9em;
  }
}

// Full Desktops media query
@media (min-width: 1400px) {
  .section__confidential {
    margin-top: 11em;
  }
}
