.review__container {
  display: grid;
  width: auto;
  grid-template-columns: 1fr;
  justify-items: start;
  gap: 1em;
}

// Tablet media query
@media (min-width: 768px) {
  .review__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .review__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
