.list {
  display: flex;
  flex-direction: column;
}

.link {
  border: 1px solid var(--color-gray--dark);
  border-radius: var(--border-radius-secondary);
  margin: 0.9em 0;
  text-align: center;
  padding: 0.7em 0.5em;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  box-shadow: var(--shadow);

  & > a:any-link {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 400;
  }

  &:hover {
    // background-color: var(--color-P--tint);
    border: 1px solid var(--color-dark);
  }
}

// Tablet media query
@media (min-width: 768px) {
  .list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-md);
    width: 48%;
    padding: 1.5em 0.5em;
  }
}

// Laptops media query
@media (min-width: 992px) {
  .link {
    width: 28%;
    padding: 1.5em 0.5em;
  }
}
