.fab {
  position: fixed;
  bottom: 4em;
  right: 4em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-P--light);
  border: 1px solid var(--color-P--dark);
  transition-duration: 0.3s;
  z-index: 2;

  &:hover {
    background-color: var(--color-P);
  }

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__icon {
    position: relative;
    top: 1em;
    left: .1em;
    width: 60%;
    height: 60%;
    color: white;
  }
}

// Laptops media query
@media (min-width: 992px) {
  .fab {
    bottom: 7em;
    right: 7em;
    width: 6em;
    height: 6em;

    &__icon {
      top: 1.2em;
    }
  }
}
