.contacts {
  &_external_icon {
    display: flex;
    align-items: center;

    & > svg {
      margin-left: 1rem;
      width: 16px;
      height: auto;
    }
  }

  &_flexbox {
    display: flex;
    flex-direction: column;
  }

  &_info {
    padding: 0;
    margin-top: 0;

    &__item {
      list-style-type: none;
      display: flex;
      align-items: center;
      font-size: var(--text-sm);
      margin: 0.7em 0;

      & > svg {
        height: 32px;
        width: auto;
        color: #111827;
        opacity: 0.8;
        margin-right: 1em;
      }
    }
  }
}

.our_location {
  display: flex;
  flex-direction: column;
}

.subheader {
  margin: 0 0 0.5em;
  font-size: var(--text-regular);
  text-align: center;
}

.advanced_route {
  margin: 1em 0;
  align-self: center;
  padding: 0.7em 1.5em;
  background-color: var(--color-P--dark);
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--text-sm);

  &:any-link {
    text-decoration: none;
  }
}

// Tablets media query
@media (min-width: 768px) {
  .contacts {
    &_form {
      &__curtain {
        padding: 4em 0;
      }
      & input[type='checkbox'] {
        width: 20px;
        height: 20px;
      }
    }
  }
}

// Laptops media query
@media (min-width: 992px) {
  .contacts {
    &_flexbox {
      flex-direction: row;
      justify-content: center;
    }

    &_info__item {
      font-size: var(--text-regular);
    }
  }

  .our_location {
    flex: 1.3;
  }

  .advanced_route {
    transition-duration: 0.2s;
    align-self: flex-start;

    &:hover {
      cursor: pointer;
      background-color: var(--color-P);
    }
  }
}

// Full Desktops media query
@media (min-width: 1400px) {
  .subheader {
    font-size: var(--text-md);
  }

  .our_location {
    flex: 1.7;
  }
}
