.contacts {
  &_flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

// Laptops media query
@media (min-width: 992px) {
  .contacts_flexbox {
    align-items: stretch;
    flex-direction: row;
    gap: 19px;
  }
}
