.page__services {
  width: 100%;
}

.services__header {
  text-align: center;
  margin-bottom: 0.5em;
}

.container__services {
  margin-top: 4em;
}
.services__list {
  display: flex;
  flex-direction: column;
}

.services__link:any-link {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: var(--border-radius-secondary);
  margin: 0.9em 0;
  text-align: center;
  padding: 0.7em 0;
  transition: 0.1s ease-in-out;
}

.services__link:hover {
  background-color: var(--color-P--tint);
}
// Tablet media query
@media (min-width: 768px) {
  .container__services {
    margin-top: 9em;
  }

  .services__list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .services__link:any-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-md);
    width: 48%;
    padding: 1.5em 0.5em;
  }
}

// Laptops media query
@media (min-width: 992px) {
  .services__link:any-link {
    width: 28%;
    padding: 1.5em 0.5em;
  }
}
