.section__about-op-03 {
    margin: 1em auto;

    & > .section__header {
        text-align: start;
        margin: 1.5em 0 1em;
    }

    & ul {
        list-style-type: none;
    }

    & li, & p {
        line-height: 1.4em;
        margin-bottom: 1em;
    }
}