// Phones
.label {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-dark);

  &__terms {
    font-weight: 700;
    color: var(--color-dark);
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
  }
}

.input {
  &__text {
    height: 34px;
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
    line-height: 18px;
    color: var(--color-dark);
    width: 100%;
    border: 1px solid #ccdfe6; // TODO: color-name border-light
    margin-bottom: 8px;
  }

  &__textarea {
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
    line-height: 18px;
    height: 80px;
    color: var(--color-dark);
    width: 100%;
    border: 1px solid #ccdfe6; // TODO: color-name border-light
    margin-bottom: 8px;
    overflow-wrap: break-word;
  }

  &__checkbox {
    min-width: 20px;
    min-height: 20px;
    border-radius: 6px;
    cursor: pointer;
  }
}

.error {
  color: red;
  font-size: 8px;
  line-height: 12px;
}

// Tablets
@media (min-width: 744px) {
  .label,
  .input__text,
<<<<<<< HEAD
  .input__textarea {
=======
  .input__textarea,
  .label__terms {
>>>>>>> fc3ffadf00f64fb2f06535fccb461dd750be3187
    width: 485px;
  }

  .label {
    line-height: 28px;
    font-size: 18px;

    &__terms {
      font-size: 18px;
      margin-bottom: 32px;
    }
  }

  .input {
    &__text {
      height: 48px;
      padding: 0 32px;
      font-size: 18px;
      line-height: 28px;
    }

    &__textarea {
      padding: 8px 32px;
      font-size: 18px;
      line-height: 28px;
      height: 140px;
    }
  }

  .error {
    font-size: 12px;
  }
}
