.date {
  margin: 1em 0;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  color: var(--color-dark);
  opacity: 0.5;
}
.cta {
  width: 100%;
  margin: 20px 0;
}

.main_flex {
  display: flex;
  flex-direction: column;
}

.help_flex {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.place_info {
  padding: 20px 0;
  width: 100%;
}
//////////

.news {
  &__title {
    font-size: var(--text-lg);
    margin: 1em 0;
  }

  &__contained {
    max-width: 100%;
  }

  &__doctor-card {
    align-self: center;
  }
}

// Tablet media query
@media (min-width: 768px) {
  .date {
    margin-top: 0.3em;
  }
  .text_content {
    flex: 1.1;
  }
  /////////
  .news {
    &__contained {
      max-width: 50%;
    }
  }
}

// Laptops media query
@media (min-width: 992px) {
  .text_content {
    flex: 1.5;
  }
  .main_flex {
    flex-direction: row;
  }
  .help_flex {
    &:nth-of-type(1) {
      margin-right: 1em;
    }

    &:nth-of-type(2) {
      margin-left: 1em;
    }
  }
  //////
  .news {
    &__doctor-card {
      width: 70%;
    }

    &__contained {
      max-width: 40%;
    }
  }
}

// Full Desktops media query
@media (min-width: 1400px) {
  //////
  .news {
    &__doctor-card {
      width: 80%;
    }
  }
}
