.banner {
  width: 100%;
  background-color: #ff2b2b;
  padding: 1rem 0;

  &__text {
    margin: auto;
    color: white;
    font-size: var(--text-sm);
    font-weight: 600;
    text-align: center;
  }
}

// Full Desktops media query
@media (min-width: 1400px) {
  .banner__text {
    font-size: var(--text-lg);
  }
}
