.footer {
  width: 100%;
  padding: 1em 0;
  background-color: var(--color-dark);
  color: var(--color-white);

  &__copyright {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
  }

  &__mark {
    color: var(--color-gray);
    font-size: var(--text-sm);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .15s ease-in;

    &:any-link {
      text-decoration: none;
      text-align: center;
    }

    &:hover {
        color: var(--color-P--tint)
    }
  }
}
