.doctors {
  &__header {
    text-align: center;
    margin: 1.5em 0 0.5em;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}

// Tablet media query
@media (min-width: 768px) {
  .doctors {
    &__header {
      margin: 4.5em 0 1em;
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      height: auto;
      justify-content: space-between;
    }
  }
}

// Laptops media query
@media (min-width: 992px) {
  .doctors {
    &__header {
      margin: 5em 0 1em;
    }
  }
}
