.newslider__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .newslider__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
