.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 6px;
  padding: 1em;
  box-shadow: var(--shadow);
  transition: 0.15s ease-in-out;

  &:hover {
    box-shadow: var(--shadow-md);
  }
}

.top {
  flex: 1;
  margin-bottom: 1em;
}

.date {
  font-size: var(--text-sm);
  text-align: right;
  margin-bottom: 1em;
  opacity: 0.5;
  font-weight: 600;
}

.title {
  font-size: var(--text-lg);
  opacity: 0.85;
}
