.why-us-section {
  width: 100%;
}

.section__header {
  width: 100%;
  font-size: 1.3em;
  text-align: center;
  margin: 1.4rem 0;
}

.why-us__reason, .why-us__reason--reversed {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5em;
}

.reason {
  &__title {
    line-height: 1.3;
    margin-bottom: 1.5em;
  }

  &__divider {
    width: 90%;
    opacity: 0.3;
    align-self: center;
  }

  &__img {
    max-width: 80vw;
    max-height: 40vh;
    align-self: center;
    margin-bottom: 1.4em;
  }
}

// Tablet media query
@media (min-width: 768px) {
  .section__header {
    margin-top: 1.5rem;
    font-size: 1.5em;
  }

  .why-us__reason, .why-us__reason--reversed {
    align-items: center;
    margin-bottom: 2em;
  }

  .reason__title {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 2em;
  }

  .reason__img {
    max-width: 60vw;
    max-height: 30vh;
  }
}

// Laptops media query
@media (min-width: 992px) {
  .section__header {
    margin: 1.5rem 0;
  }

  .why-us__reason, .why-us__reason--reversed {
    flex-direction: row;
    justify-content: space-around;
  }

  .reason__title {
    width: 50%;
    margin-bottom: 0;
  }

  .reason__img {
    width: 30%;
  }

  .why-us__reason--reversed {
    flex-direction: row-reverse;
  }

  .reason__divider {
    display: none;
  }
}

// Full Desktops media query
@media (min-width: 1400px) {
  .section__header {
    font-size: 1.7rem;
    margin: 1.5rem 0;
  }
}
