.section {
  &__why-us {
    width: 100%;
  }

  &__header {
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    margin: 1.4rem 0;
  }
}

.why-us {
  &__flex-main,
  &__flex-main--reversed {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5em;
  }

  &__p {
    margin: 0 0 1em;
    font-size: var(--text-md);
    flex: 1;
    line-height: 1.4em;
  }

  &__img {
    max-width: 80vw;
    max-height: 40vh;
    align-self: center;
    margin-bottom: 1.4em;
  }

  &__divider {
    width: 90%;
    opacity: 0.3;
    align-self: center;
  }
}

// Tablet media query
@media (min-width: 768px) {
  .section__header {
    margin-top: 1.5rem;
    font-size: 1.5em;
  }

  .why-us {
    &__flex-main,
    &__flex-main--reversed {
      align-items: center;
      margin-bottom: 2em;
    }

    &__img {
      max-width: 60vw;
      max-height: 30vh;
    }
  }
}

// Laptops media query
@media (min-width: 992px) {
  .section__header {
    margin: 1.5rem 0;
  }

  .why-us {
    &__flex-main,
    &__flex-main--reversed {
      flex-direction: row;
      justify-content: space-around;
    }
    &__img {
      width: 50%;
    }
    &__flex-main--reversed {
      flex-direction: row-reverse;
    }

    &__divider {
      display: none;
    }
  }
}

// Full Desktops media query
@media (min-width: 1400px) {
  .section__header {
    font-size: 1.7rem;
    margin: 1.5rem 0;
  }
}
