.header {
    width: 100vw;
    height: 3em;
    box-shadow: 0 .125rem 5px 0 rgba(#000, .075);
    z-index: 4;

    &__navbar {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        z-index: 3;
    }

    &__menu {
        display: none;
    }
}

.brand__logo {
    max-height: 40px;
    width: auto;
}

.menu__item {
    margin-right: 2em;
    text-decoration: none;
    color: var(--text-c-black);
    position: relative;

    &:hover {
        color: var(--text-c-main);
        transition: .3s;

        &::before {
            transform-origin: 0% 50%;
            transform: scale3d(1, 1, 1);
        }
    }

    &::before {
        content: "";
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
    }

    &::before, &::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
    }
}

.fixed-page {
    overflow: hidden;
}

.header__burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.brand__name {
    display: none;
}

.header__menu-burger {
    position: relative; 
    display: block;
    height: 1.5em;
    width: 2em;

    /* Burger menu render */
    & span, &::after, &::before {
        height: 0.25em;
        width: 100%;
        position: absolute;
        background: var(--text-c-black);
        margin: 0 auto;
    }

    & span {
        top: .55em;
        transition: 0.3s ease-in-out; 
    }

    &::after, &::before {
        content: '';
        transition: 0.4s ease-out;
    }

    &::after {
        bottom: 0.1rem;
    }

    &::before {
        top: 0;
    }

    /* Activated Burger Menu */
    &.menu--opened {
        & span {
            opacity: 0; 
        }
        
        &::before {
            transform: rotate(45deg);
            top: 10px;
        }

        &::after {
            transform: rotate(-45deg);
            bottom: 10px;   
        }
    }
}

/* Navigation */
.header__burger-nav {
    display: block;
    position: absolute;
    top: 3.1em;
    left: 0;
    height: 0;
    opacity: 0;
    color: var(--text-c-black);
    background: var(--text-c-white);
    width: 100vw;
    transition: .4s ease-in;

    &.menu--opened {
        animation: burger-menu-drop__phone 1s ease-in-out forwards;
        z-index: 2;
    }
}

.burger__menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    & li {
        list-style-type: none;
    }
}

// Tablet media query 
@media (min-width: 768px) {
    .header {
        height: 5em;

        &__burger {
            display: none;
        }

        &__burger-nav{ 
            display: none;
        }

        &__menu {
            display: flex;
            list-style-type: none;
        }

        &__navbar {
            justify-content: space-between;
        }
    }

    .brand__logo {
        max-height: 3.5em;
    }
}

// Full Desktops media query 
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    .header__brand {
        display: flex;
        align-items: center;
    }

    .brand__logo {
        max-height: 4em;
    }

    .brand__name {
        display: inline-block;
        margin-left: 1em;
        font-weight: 300;
    }
}

// Animations
@keyframes burger-menu-drop__phone {
    0% {
        height: 0;
        opacity: 0;
        color: var(--text-c-white);
    }
    
    25% {
        opacity: 1;
    }
    
    50% {
        opacity: 1;
        height: 80vh;
        color: var(--text-c-white);
    }

    100% {
        opacity: 1;
        height: 80vh;
        color: var(--text-c-black);
    }
}

