.section__operation {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;

  & a:any-link {
    text-decoration: none;
    color: var(--color-P--dark);
  }
}

.operation {
  &__p,
  &__list-item {
    line-height: 1.4em;
  }

  &__p {
    margin: 0 0 1em;
    font-size: var(--text-md);
    flex: 1;
  }

  &__list {
    list-style-type: none;
    padding-left: 1.5em;
    margin-bottom: 1em;

    &-item {
      margin: 0.8em 0;
      font-size: var(--text-regular);
    }
  }

  &__cover-img {
    display: none;
  }

  &__img {
    width: 100%;
    height: auto;
    margin: 1em auto;
    border-radius: var(--border-radius-main);
    align-self: center;
  }

  &__flex-main,
  &__flex-main--reversed {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  &__subheader {
    font-size: var(--text-md);
    margin: 1em 0;
  }
}

// Tablet media query
@media (min-width: 768px) {
  .operation {
    &__p,
    &__list-item {
      line-height: 1.4em;
    }

    &__img {
      margin: 2em auto;
      max-width: 90%;
      max-height: 25vh;
    }

    &__p {
      margin: 0 0 1em;
    }

    &__list-item {
      font-size: var(--text-md);
    }

    &__cover-img {
      display: inline-block;
      border-radius: var(--border-radius-main);
    }
  }
}

// Laptops media query
@media (min-width: 992px) {
  .operation {
    &__flex-main, &__flex-main--reversed {
      align-items: center;
      margin: 1em auto;
    }

    &__flex-main {
      flex-direction: row;
    }

    &__flex-main--reversed {
      flex-direction: row-reverse;
    }
    &__img {
      padding: 3em;
      margin: auto;
      width: 40%;
      max-width: 30vw;
      max-height: 35vh;
    }

    &__divider {
      margin: 1em;
    }
  }
}
