.footer {
    overflow: none;
    width: 100vw;
    height: 3em;
    background-color: var(--color-dark);
    color: var(--color-white);

    &__copyright {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

