.container {
  height: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0.5em 1em;
  overflow: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.overflow {
  overflow: visible;
}

.hidden {
  display: none !important;
}

.darken {
  background-color: var(--color-dark) !important;
}

.marked-container {
  background-color: var(--color-P--tint-dark);
  padding: 1em;
  margin: 1em 0;
  line-height: 1.3em;
  text-align: start;
  border-radius: var(--border-radius-secondary);
  & > p {
    margin: 0 !important;
  }
}

.text-center {
  text-align: center !important;
}

.text-start {
  text-align: start !important;
}

// Tablet media query
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .flex {
    flex-direction: row;
  }
  .marked-container {
    padding: 1.2em;
    line-height: 1.5em;
  }
}

// Laptops media query
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .marked-container {
    text-align: center;
  }
}

// Full Desktops media query
@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

#curtain {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  opacity: 0;
  color: var(--color-black);
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  transition: 0.4s ease-in;

  &.curtain--opened {
    animation: curtain-drop 1s ease-in-out forwards;
  }
}

@keyframes curtain-drop {
  0% {
    height: 0;
    opacity: 0;
    color: var(--color-white);
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    height: 100vh;
    color: var(--color-white);
  }

  100% {
    opacity: 1;
    height: 500vh;
    color: var(--color-black);
    z-index: 5;
  }
}
