:root {
  --border-radius-main: 10px;
  --border-radius-secondary: 5px;

  --color-P: #3bacb5;
  --color-P--light: #4cc2ca;
  --color-P--dark: #248c94;
  --color-black: #000;
  --color-gray: #e9e9e9;
  --color-white: #fff;

  --color-dark: #323232;

  --text-sm: .8rem;
  --text-regular: 1rem;
  --text-md: 1.3rem;
  --text-lg: 1.5rem;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}