.section__about-us {
  margin: 3em 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  & a:any-link {
    text-decoration: none;
    color: var(--color-P--dark);
  }
}

.section__subheader {
  font-size: var(--text-md);
}

.about-us {
  &__p,
  &__list-item {
    line-height: 1.4em;
  }

  &__p {
    margin: 0 0 1em;
    font-size: var(--text-md);
    flex: 1;
  }

  &__list {
    list-style-type: none;
    padding-left: 1.5em;
    margin-bottom: 1em;

    &-item {
      margin: 0.8em 0;
      font-size: var(--text-regular);
    }
  }
}

// Tablet media query
@media (min-width: 768px) {
  .section__operation {
    margin: 9em auto 2em;
  }

  .operation {
    &__p,
    &__list-item {
      line-height: 1.4em;
    }

    &__p {
      margin: 0 0 1em;
    }

    &__list-item {
      font-size: var(--text-md);
    }
  }
}

// Laptops media query
@media (min-width: 992px) {
  .operation__subheader {
    font-size: var(--text-lg);
  }
}
