.section__about-us {
  margin: 3em 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  & a:any-link {
    text-decoration: none;
    color: var(--color-P--dark);
  }
}

.section__subheader {
  font-size: var(--text-md);
}

.about-us {
  &__p,
  &__list-item {
    line-height: 1.4em;
  }

  &__p {
    margin: 0 0 1em;
    font-size: var(--text-md);
    flex: 1;
  }

  &__list {
    list-style-type: none;
    padding-left: 1.5em;
    margin-bottom: 1em;

    &-item {
      margin: 0.8em 0;
      font-size: var(--text-regular);
    }
  }

  &__cover-img {
    display: none;
  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    border-radius: var(--border-radius-main);
  }

  &__flex-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

// Tablet media query
@media (min-width: 768px) {
  .section__about-us {
    margin: 9em auto 2em;
  }

  .about-us {
    &__p,
    &__list-item {
      line-height: 1.4em;
    }

    &__p {
      margin: 0 0 1em;
    }

    &__list-item {
      font-size: var(--text-md);
    }

    &__cover-img {
      display: inline-block;
      border-radius: var(--border-radius-main);
    }
  }
}

// Laptops media query
@media (min-width: 992px) {
  .about-us {
    &__flex-main {
      flex-direction: row;
      align-items: center;

      & > p {
        padding-right: 1em;
      }

      &:nth-of-type(2) {
        flex-direction: row-reverse;

        & > p {
          padding-left: 1em;
        }
      }
    }

    &__img {
      width: 50%;
    }
  }

  .section__subheader {
    font-size: var(--text-lg);
  }
}
