#greetings-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../assets/images/bg-doctors.webp") no-repeat center center scroll;
  background-size: cover;
  margin-top: 3em;
  height: 100%;
  width: 100%;
}

.greetings {
  &__header,
  &__subheader {
    color: var(--color-white);
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 1));
    margin-bottom: 10px;
  }

  &__header {
    font-size: 1.3em;
    margin-top: 1rem;
    max-width: 80%;
  }

  &__subheader {
    font-size: 1em;
  }

  &__text {
    color: var(--color-white);
    font-size: var(--text-lg);
    line-height: 1.3em;
    font-weight: 600;
  }

  &__cta {
    background-color: var(--color-P);
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.6));
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 0.8em 2em;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      background-color: var(--color-P--light);
    }

    &:active {
      background-color: var(--color-P--dark);
    }
  }
}

@media (min-width: 768px) {
  #greetings-section {
    margin-top: 5em;
  }

  .greetings {
    &__header,
    &__subheader {
      margin-bottom: 1rem;
    }

    &__header {
      font-size: 1.6em;
      padding: 3em 0 0;
      margin-top: 3rem;
      max-width: 70%;
    }

    &__subheader {
      font-size: 1em;
    }

    &__cta {
      font-size: 1.2em;
      margin-bottom: 3rem;
      padding: 0.6em 2em;
    }
  }
}

@media (min-width: 992px) {
  .greetings {
    &__header {
      max-width: 75%;
    }
  }
}

@media (min-width: 1400px) {
  #greetings-section {
    padding: 3em 0;
  }
  .greetings {
    &__header,
    &__subheader {
      margin-bottom: 1.5rem;
    }

    &__header {
      font-size: 2em;
      margin-top: 4.5rem;
      max-width: 70%;
    }

    &__text {
      font-size: var(--text-xl);
    }

    &__subheader {
      font-size: 1.2em;
    }

    &__cta {
      font-size: 1.5em;
      margin-bottom: 4.5rem;
      padding: 0.6em 2em;
    }
  }
}
