.page__our-contacts {
  width: 100%;
}

.section__our-contacts {
  margin-top: 3em;
}

.our-contacts {
  &__title {
    font-size: var(--text-regular);
    margin-bottom: 1em;
    font-weight: 400;
  }

  &__info-title {
    margin: 1.5em 0 1em;
  }
  &__info-text {
    margin: 0.5em 0;

    & a:any-link {
      text-decoration: none;
    }
  }

  &__routes {
    padding-left: 1.5em;
    margin-bottom: 2em;
  }

  &__route-title {
    color: rgba($color: #444, $alpha: 1);
  }

  &__address-flex {
    display: flex;
    flex-direction: column;
  }

  &__address-bar-flex {
    display: flex;
    flex-direction: column;
  }

  &__other-flex {
    display: flex;
    flex-direction: column;
  }

  &__main-flex {
    display: flex;
    flex-direction: column;
  }
}

// Tablet media query
@media (min-width: 768px) {
  .section__our-contacts {
    margin-top: 7.5em;
  }
}

// Laptops media query
@media (min-width: 992px) {
  .our-contacts {
    &__address-flex {
      flex-direction: column-reverse;
    }
    &__address-bar-flex {
      flex-direction: row;
      align-items: center;

      & > h3 {
        margin: 2em 0;
      }

      & > p {
        margin: 2em 0 2em 3em;
      }
    }
    &__main-flex {
      flex-direction: row;
      justify-content: space-between;
    }
    &__title {
        font-size: var(--text-lg);
        margin-bottom: 1em;
        font-weight: 400;
        text-align: center;
      }
      &__other-flex {
        margin-left: 1em;
      }
  }
}
